{%extends 'base.html'%}
{%block title%}Contact Us{%endblock%}
{%block title2%}
Contact Us
{%endblock%}

{%load static%}
{%block content%}

<div class="container mx-auto my-10">
  <h1 class="text-[3rem] text-center font-bold text-indigo-500">Contact Us</h1>
  <hr class="my-5">





  <div class="mb-20"></div>




  <div class="flex lg:flex-row flex-col justify-between">

    <div class="w-full lg:mx-10" data-aos="fade-right">

      <div class="flex justify-center text-4xl font-semibold text-indigo-600">Send us a message</div>
      <form class="border p-10 mx-2 sm:p-20 shadow-xl my-10" id="ContactForm" method="POST">

        {% csrf_token %}

        <div class="grid md:grid-cols-2 md:gap-6">
          <div class="relative z-0 w-full mb-6 group">
            <input type="text" name="name" id="name"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
              placeholder=" " required />
            <label for="floating_first_name"
              class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">First
              name</label>
          </div>
          <div class="relative z-0 w-full mb-6 group">
            <input type="text" name="floating_last_name" id="lastname"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
              placeholder=" " required />
            <label for="floating_last_name"
              class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Last
              name</label>
          </div>
        </div>

        <div class="grid md:grid-cols-2 md:gap-6">
          <div class="relative z-0 w-full mb-6 group">
            <input type="email" name="floating_email" id="email"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer "
              placeholder=" " required />
            <label for="floating_email"
              class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 ">Email
              address</label>
          </div>
          <div class="relative z-0 w-full mb-6 group">
            <input type="text" name="floating_subject" id="subject"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
              placeholder=" " required />
            <label for="floating_subject"
              class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Subject</label>
          </div>
        </div>
        <textarea id="message" rows="4"
          class="block p-2.5 w-full text-sm text-gray-900 border-none bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Write your thoughts here..."></textarea>

        <div id="contact-error" class="text-xs mt-4 hidden text-red-500 font-bold">
          hey some error message
        </div>


        <button type="submit" id="submit_main"
          class="text-white my-5 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 w-full bg-gradient-to-br from-purple-600 to-blue-500 ">Send</button>
      </form>
    </div>

    <div class="w-full" data-aos="fade-left">
      <div class="flex justify-center text-4xl font-semibold text-indigo-600">Get in Touch</div>
      <div class="w-full mt-10 text-gray-500">

        <div class="mt-5 ">
          <span class="fa-solid fa-envelope mx-2 text-xl  text-indigo-400 "></span>
          <span class="sm:text-3xl text-sm font-serif  ">contact@ittihadtahafuzfoundation.org</span>


        </div>


        <div class="mt-5 ">
          <span class="fa-solid fa-phone mx-2 text-xl text-md  text-indigo-400 "></span>
          <span class="text-md sm:text-3xl font-serif  ">021-36610015</span>


        </div>

        <div class="mt-5">
          <span class="fa-brands fa-whatsapp mx-2 text-xl  text-indigo-400 "></span>
          <span class="text-md sm:text-3xl font-serif  ">+92-3412-4312</span>


        </div>

        <div class="mt-5 flex items-center">
          <span class="fa-solid fa-location-dot text-2xl mx-2 text-indigo-400"></span>
          <div class="sm:text-xl text-md">Main Branch: PLOT 1A-1/7, OFFICE NO 7, FALAK BRIDGE VIEW
            NAZIMABAD NO 1,
            KARACHI,PAKISTAN</div>

        </div>

        <div class="mt-5 flex items-center  ">
          <span class="fa-solid fa-location-dot text-2xl mx-2 text-indigo-400"></span>
          <div class="sm:text-xl text-md ">Other Branch: Plot No.1303, Shop No, 1, Federal B Area Block 2 Gulberg Town,
            Karachi,
            Karachi City, Sindh 75950, Pakistan</div>

        </div>


      </div>

    </div>





  </div>





  <div class="grid grid-cols-1 lg:grid-cols-2" data-aos="fade-up">

    <div class="mt-10 sm:mt-0">
      <div class="flex justify-center text-2xl text-indigo-500 font-bold">Main Branch Location</div>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d57898.996204075505!2d67.030573!3d24.908647!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3eb33f8b067e4631%3A0x784e38ada9419a73!2sIttihad%20Tahafuz%20Foundation!5e0!3m2!1sen!2sus!4v1709314710935!5m2!1sen!2sus"
        style="border:0;" allowfullscreen="" loading="lazy"
        class="sm:h-[450px] sm:w-[600px] h-[300px] w-[300px] mx-auto"
        referrerpolicy="no-referrer-when-downgrade"></iframe>


    </div>

    <div class="mt-10 sm:mt-0">
      <div class="flex justify-center text-2xl text-indigo-500 font-bold">Other Branch Location</div>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3618.5007682445494!2d67.05593007414305!3d24.915005043075062!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3eb33ff3dce45591%3A0x2c4c3ca5066dd1f4!2sIttehad%20Tahafuz%20Foundation!5e0!3m2!1sen!2sus!4v1709314796723!5m2!1sen!2sus"
        class="sm:h-[450px] sm:w-[600px] h-[300px] w-[300px] mx-auto" style="border:0;" allowfullscreen=""
        loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>


    </div>



  </div>


</div>
{%include 'components.html'%}

{%endblock%}
