{%load static%}
<footer class="bg-gray-100 shadow-md dark:bg-gray-900">
    <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
        <div class="md:flex md:justify-between">
            <div class="mb-6 md:mb-0">
                <a href="/" class="flex items-center">
                    <img src="{% static 'imgs/logo.png' %}" class="h-8 me-3" alt=" Logo" />
                    <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"></span>
                </a>
                <div class="w-72 text-gray-500 text-sm"> Ittehad Tahafuz Foundation is exclusively engaged and supports
                    charitable activities.
                    It is purely
                    for charitable
                    purposes, particularly supporting education, health-care and other related relief services. ITF is
                    dedicated to the
                    services of humanity, without any discrimination of creed, religion and political association.</div>

            </div>
            <div class="grid grid-cols-2 gap-4 ">
                <div>
                    <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Follow us</h2>
                    <ul class="text-gray-500 dark:text-gray-400 font-medium">
                        <li class="mb-2">
                            <a href="https://www.facebook.com/itihadtahafuzfoundation" target="_blank">
                                <span class="fa-brands fa-facebook"></span>

                                Facebook

                            </a>
                        </li>
                        <li class="mb-2">
                            <span class="fa-brands fa-youtube"></span>

                            <a target="_blank" href="https://youtube.com/@IttihadTahafuzFoundation"
                                class="hover:underline ">Youtube</a>
                        </li>


                        <li class="mb-2">
                            <a href="tel:+922136610015" class="hover:underline">
                                <span class="fa-solid fa-phone"></span> (021)-36610015</a>
                        </li>

                    </ul>
                </div>
                <div>
                    <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Legal</h2>
                    <ul class="text-gray-500 dark:text-gray-400 font-medium">
                        <li class="mb-2 font-extrabold">
                            <a href="/certificates" class="hover:underline">Our
                                Certificates</a>
                        </li>

                    </ul>

                    <a href="{%static 'imgs/info.pdf'%}" target="_blank">
                        <h2 class="my-3 text-sm font-semibold text-gray-900 uppercase dark:text-white">MORE INFO</h2>
                    </a>

                </div>
            </div>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
        <div class="sm:flex sm:items-center sm:justify-between">
            <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© <span id="time"></span> <a href="/"
                    class="hover:underline">ITTIHAD TAHAFUZ FOUNDATION™</a>. All Rights Reserved.
            </span>
            <div class="flex mt-4 sm:justify-center sm:mt-0">

                <a href="https://www.facebook.com/itihadtahafuzfoundation" target="_blank">
                    <span class="fa-brands fa-facebook text-indigo-400 text-2xl mx-2"></span>
                </a>

                <a target="_blank" href="https://youtube.com/@IttihadTahafuzFoundation" class="hover:underline ">
                    <span class="fa-brands fa-youtube text-indigo-400 text-2xl mx-2"></span></a>

                <a href="https://wa.me/+923000314220" target="_blank">
                    <span class="fa-brands fa-whatsapp text-indigo-400 text-2xl mx-2"></span>
                </a>


            </div>
        </div>
    </div>
</footer>
