{%extends 'base.html'%}
{%load static%}
{%block title%}Ittihad Tahafuz Foundation{%endblock%}


{%block content%}
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>


<div id="default-carousel" class="relative" data-carousel="static">
  <!-- Carousel wrapper -->
  <div class="relative overflow-hidden h-80 sm:h-96 md-[100vh] lg:h-[100vh]">













    <!-- item 1 -->
    <div
      class="hidden duration-700 ease-in-out bg-[url('https://d2nf2tnwikupdj.cloudfront.net/static/imgs/slide1.png')] bg-cover"
      alt="" data-carousel-item>
      <!-- Slide 1 content -->
      <div class="absolute inset-0 bg-[#7878dac0] opacity-50"></div>
      <div class="absolute inset-0">
        <div class="flex flex-col items-center justify-center h-full">
          <h1 data-aos="fade-down"
            class="sm:text-xl md:text-2xl lg:text-4xl text-shadow-lg text-lg font-extrabold text-white animate-typing drop-shadow-lg font-serif">
            Welcome to Ittihad Tahafuz Foundation
          </h1>
          <p class="sm:text-xl text-xs text-center mx-10 text-white mt-4 duration-1000 text-shadow-lg animate-delay"
            data-aos="fade-up">
            Empowering lives through compassion: ITTihad Tahafuz Foundation (ITF) - Uniting for a Secure Future.
          </p>
          <a href="#achivements">
            <button type="button"
              class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl text-lg font-medium mt-8 px-8 py-4 transition duration-300 ease-in-out transform hover:scale-110">
              Learn More
            </button>
          </a>
        </div>
      </div>
    </div>

    <!-- item 2 -->
    <div
      class="hidden duration-700 ease-in-out bg-[url('https://d2nf2tnwikupdj.cloudfront.net/static/imgs/slide2.png')] bg-cover saturate-50"
      alt="" data-carousel-item>

      <div class="absolute top-[30%] md:top-[45%] md:left-[45%] left-[40%] z-50">
        <div class="relative  md:right-32 right-5 text-xl md:text-[4rem] text-white font-bold">Learn About Us</div>

        <button type="button"
          class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl text-sm font-medium md:my-10 md:px-10 md:py-5 text-center mb-2 p-2">About</button>
      </div>
    </div>

    <!-- item 3 -->
    <div
      class="hidden duration-700 ease-in-out bg-[url('https://d2nf2tnwikupdj.cloudfront.net/static/imgs/slide3.png')] bg-cover saturate-50"
      alt="" data-carousel-item>

      <div class="absolute top-[30%] md:top-[45%] md:left-[45%] left-[40%] z-50">
        <div class="relative  md:right-36 right-5 text-xl md:text-[4rem] text-white font-bold">Connect With Us</div>

        <button type="button"
          class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl text-sm font-medium md:my-10 md:px-10 md:py-5 text-center mb-2 p-2">Contact</button>
      </div>
    </div>

    <!-- Slider indicators -->
    <div class="sm:absolute z-30 sm:flex space-x-3 -translate-x-1/2 bottom-5 left-1/2 hidden">
      <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 1"
        data-carousel-slide-to="0"></button>
      <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2"
        data-carousel-slide-to="1"></button>
      <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3"
        data-carousel-slide-to="2"></button>
    </div>
    <!-- Slider controls -->
    <button type="button"
      class="absolute top-0 left-0 z-30 sm:flex items-center justify-center h-full sm:px-4 px-1 cursor-pointer group focus:outline-none"
      data-carousel-prev>
      <span
        class="inline-flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
        <svg aria-hidden="true" class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800" fill="none"
          stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
        </svg>
        <span class="sr-only">Previous</span>
      </span>
    </button>
    <button type="button"
      class=" absolute top-0 right-0 z-30 sm:flex items-center justify-center h-full sm:px-4 px-1 cursor-pointer group focus:outline-none"
      data-carousel-next>
      <span
        class="inline-flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
        <svg aria-hidden="true" class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800" fill="none"
          stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
        </svg>
        <span class="sr-only">Next</span>
      </span>
    </button>
  </div>





</div>

<div class="flex justify-center mt-5" id="achivements">
  <div>
    <img src="{%static 'imgs/logo2.jpg' %}" class="w-full h-24 sm:h-36" alt="">

  </div>
</div>

<!-- notice board -->

<div class="my-16 container mx-auto">
  <div class="flex flex-col items-center justify-center ">
    <span class="text-4xl font-bold text-indigo-500 lato-regular ml-4">NOTICE BOARD</span>
    <hr class="w-64 h-1 mx-auto my-4 bg-gray-100 border-0 rounded md:my-4 dark:bg-gray-700">
  </div>
  <swiper-container class="mySwiper pb-10" pagination="true" pagination-clickable="true" slides-per-view="3"
    space-between="40" free-mode="true">
    {%for notice in notices%}

    <swiper-slide class="flex bg-gray-100 p-8 rounded h-60">
      <a href="#modal" data-modal-target="default-modal" data-modal-toggle="default-modal" data-aos="fade-in">
        <div class="w-full">
          <div class="text-xl font-semibold text-indigo-400 notice-date">{{notice.event_date}}</div>
          <div class="text-lg font-medium text-indigo-300 notice-subject">{{notice.subject}}</div>
          <div class="mt-4 text-gray-500 break-words notice-content " data-content="{{notice.content}}">
          </div>
        </div>
      </a>
    </swiper-slide>



    {%endfor%}
  </swiper-container>


</div>




<!-- services tabs -->
<div class="my-20 container mx-auto ">

  <div class="flex flex-col items-center justify-center ">
    <span class="text-4xl font-semibold text-indigo-500 lato-regular ml-4">Our Achievements and Contributions</span>
    <hr class="w-64 h-1 mx-auto my-4 bg-gray-100 border-0 rounded md:my-4 dark:bg-gray-700">
  </div>


  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3">

    <a href="/services/#food">
      <div class="mx-5 my-3" data-aos="fade-right">
        <div class="rounded-2xl shadow-lg h-72 w-full relative">
          <div
            class="absolute inset-0 bg-[url('https://d2nf2tnwikupdj.cloudfront.net/static/imgs/services/rations.jpg')] bg-cover rounded-2xl"
            style="filter: contrast(75%);"></div>
          <div class="relative h-full flex justify-center items-center flex-col">
            <span class="text-indigo-100 text-3xl font-bold opacity-100">Rations Distributed</span>
            <span class="text-white opacity-100 text-4xl font-extrabold animate-num" data-num="2500">2500+</span>
          </div>
        </div>
      </div>
    </a>


    <a href="/services/#cargo">
      <div class="mx-5 my-3" data-aos="fade-right">

        <div class="rounded-2xl shadow-lg h-72 w-full relative">
          <div
            class="absolute inset-0 bg-[url('https://d2nf2tnwikupdj.cloudfront.net/static/imgs/services/cargo.jpg')] bg-cover rounded-2xl"
            style="filter: contrast(75%);"></div>
          <div class="relative h-full flex justify-center items-center flex-col">
            <span class="text-indigo-100 text-3xl font-bold opacity-100">Cargo Van</span>
            <span class="text-white opacity-100 text-4xl font-extrabold animate-num" data-num="1000">1000+</span>
          </div>
        </div>
      </div>
    </a>


    <a href="/services/#dastarkhawan">
      <div class="mx-5 my-3" data-aos="fade-right">
        <div class="rounded-2xl shadow-lg h-72 w-full relative">
          <div
            class="absolute inset-0 bg-[url('https://d2nf2tnwikupdj.cloudfront.net/static/imgs/services/dastarkhuan.jpg')] bg-cover rounded-2xl"
            style="filter: contrast(75%);"></div>
          <div class="relative h-full flex justify-center items-center flex-col">
            <span class="text-indigo-100 text-3xl font-bold opacity-100">Dastarkhuan</span>
            <span class="text-white opacity-100 text-4xl font-extrabold animate-num" data-num="100">100+</span>
          </div>
        </div>
      </div>
    </a>

    <a href="/services/#tree">
      <div class="mx-5 my-3" data-aos="fade-right">
        <div class="rounded-2xl shadow-lg h-72 w-full relative">
          <div
            class="absolute inset-0 bg-[url('https://d2nf2tnwikupdj.cloudfront.net/static/imgs/services/treeplantation.jpg')] bg-cover rounded-2xl"
            style="filter: contrast(75%);"></div>
          <div class="relative h-full flex justify-center items-center flex-col">
            <span class="text-indigo-100 text-3xl font-bold opacity-100">Tree's Planted</span>
            <span class="text-white opacity-100 text-4xl font-extrabold animate-num" data-num="700">700+</span>
          </div>
        </div>
      </div>
    </a>

    <a href="/services/#health">
      <div class="mx-5 my-3" data-aos="fade-right">
        <div class="rounded-2xl shadow-lg h-72 w-full relative">
          <div
            class="absolute inset-0 bg-[url('https://d2nf2tnwikupdj.cloudfront.net/static/imgs/services/healthcare.jpg')] bg-cover rounded-2xl"
            style="filter: contrast(75%);"></div>
          <div class="relative h-full flex justify-center items-center flex-col">
            <span class="text-indigo-100 text-3xl font-bold opacity-100">Health Care</span>
            <span class="text-white opacity-100 text-4xl font-extrabold animate-num" data-num="100">100+</span>
          </div>
        </div>
      </div>
    </a>

    <a href="/services/#marriage">
      <div class="mx-5 my-3" data-aos="fade-right">
        <div class="rounded-2xl shadow-lg h-72 w-full relative">
          <div
            class="absolute inset-0 bg-[url('https://d2nf2tnwikupdj.cloudfront.net/static/imgs/services/marriage.jpg')] bg-cover rounded-2xl"
            style="filter: contrast(75%);"></div>
          <div class="relative h-full flex justify-center items-center flex-col">
            <span class="text-indigo-100 text-3xl font-bold opacity-100">Poor Girls Marriage</span>
            <span class="text-white opacity-100 text-4xl font-extrabold animate-num" data-num="200">200+</span>
          </div>
        </div>
      </div>
    </a>

    <a href="/services/#ambulance">
      <div class="mx-5 my-3" data-aos="fade-right">
        <div class="rounded-2xl shadow-lg h-72 w-full relative">
          <div
            class="absolute inset-0 bg-[url('https://d2nf2tnwikupdj.cloudfront.net/static/imgs/services/ambulance.jpg')] bg-cover rounded-2xl"
            style="filter: contrast(75%);"></div>
          <div class="relative h-full flex justify-center items-center flex-col">
            <span class="text-indigo-100 text-3xl font-bold opacity-100">Ambulance</span>
            <span class="text-white opacity-100 text-4xl font-extrabold animate-num" data-num="100">100+</span>
          </div>
        </div>
      </div>
    </a>

    <a href="/services/#drugs">
      <div class="mx-5 my-3" data-aos="fade-right">
        <div class="rounded-2xl shadow-lg h-72 w-full relative">
          <div
            class="absolute inset-0 bg-[url('https://d2nf2tnwikupdj.cloudfront.net/static/imgs/services/drugs.jpg')] bg-cover rounded-2xl"
            style="filter: contrast(75%);"></div>
          <div class="relative h-full flex justify-center items-center flex-col">
            <span class="text-indigo-100 text-3xl font-bold opacity-100">Drugs Addicted Recovery</span>
            <span class="text-white opacity-100 text-4xl font-extrabold animate-num" data-num="450">450+</span>
          </div>
        </div>
      </div>
    </a>

    <a href="/services/#water">
      <div class="mx-5 my-3" data-aos="fade-right">
        <div class="rounded-2xl shadow-lg h-72 w-full relative">
          <div
            class="absolute inset-0 bg-[url('https://d2nf2tnwikupdj.cloudfront.net/static/imgs/services/water.jpg')] bg-cover rounded-2xl"
            style="filter: contrast(75%);"></div>
          <div class="relative h-full flex justify-center items-center flex-col">
            <span class="text-indigo-100 text-3xl font-bold opacity-100">Water Filtration Plant</span>
            <span class="text-white opacity-100 text-4xl font-extrabold animate-num" data-num="20">20+</span>
          </div>
        </div>
      </div>
    </a>


  </div>


</div>

<!-- learn more what we do image -->

<div
  class="my-10 bg-[url('https://d2nf2tnwikupdj.cloudfront.net/static/imgs/bg.jpg')] bg-cover h-96 bg-center contrast-125 flex-col  opacity-70 bg-fixed flex justify-center items-center">

  <div data-aos="fade-up" class="text-center text-5xl text-white font-extrabold font-serif">
    Learn more about what we do
  </div>

  <div>
    <a href="/services">
      <button type="button"
        class="text-white border border-indigo-400 hover:bg-gradient-to-br from-green-400 my-4 hover:scale-110 duration-100 More focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800 font-medium rounded-lg px-5 py-2.5 text-center me-2 mb-2 text-xl p-5 bg-transparent font-mono">Learn
        More
  </div>
  </a>
</div>

<!-- founders message -->
<div class="container my-20 mx-auto">
  <div class="flex justify-between flex-col sm:flex-row">


    <div class="w-full sm:w-1/2" data-aos="fade-right">
      <div class="text-4xl font-serif font-semibold text-indigo-500 mb-4">Founder's Message</div>
      <div class="text-gray-500 font-sans mx-2">
        Dear Supporters,<br><br>

        As the founder of Ittihad Tahafuz Foundation, I am immensely proud to welcome you to our cause. It has been a
        journey <br>
        filled with passion, dedication, and a relentless commitment to making a positive impact in the lives of those
        in need. <br>

        At Ittihad Tahafuz Foundation, we believe in the power of unity, compassion, and solidarity. Our mission is to
        extend a
        helping hand to the marginalized, the vulnerable, and the oppressed. We strive to create a world where every
        individual
        has access to the basic necessities of life, where dignity is upheld, and where hope shines bright.
        <br>
        Together, we can make a difference. Together, we can build a brighter future for generations to come. I invite
        you to
        join us in our noble endeavor, as we work tirelessly to create positive change and leave a lasting legacy of
        kindness
        and compassion.
        <br>
        Thank you for your unwavering support and belief in our vision. Together, let us continue to spread love,
        hope,
        and
        healing to those in need.
        <br><br>
        With gratitude,
        <br>
        Mehmood Bajwa<br>
        Founder, Ittihad Tahafuz Foundation
      </div>
    </div>

    <div data-aos="fade-left">
      <img src="{%static 'imgs/founder.jpg' %}" class="rounded-xl w-96" alt="">
    </div>
    <div></div>

  </div>

</div>

<!-- explore gallery -->
<div
  class="my-10 bg-[url('https://d2nf2tnwikupdj.cloudfront.net/static/imgs/gallery_preview.jpg')] bg-cover h-96 bg-center flex-col  bg-fixed flex justify-center items-center saturate-50">

  <div data-aos="fade-up" class="text-center text-5xl text-white font-extrabold font-serif">
    Explore Our Gallery
  </div>

  <div>
    <a href="/gallery">
      <button type="button"
        class="text-white border border-indigo-400 hover:bg-gradient-to-br from-indigo-400 my-4 hover:scale-110 duration-100 More focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800 font-medium rounded-lg px-5 py-2.5 text-center me-2 mb-2 text-xl p-5 bg-transparent font-mono">Explore
  </div>
  </a>
</div>


<div data-aos="zoom-in" class="flex justify-center text-4xl text-gray-600 font-semibold">
  Our Sponsors</div>


<div class=" my-10" data-aos="fade-up">
  <div class="container mx-auto flex">
    <div class="swiper-slide"><img src="{%static 'imgs/partners/haveli.png'%}" alt="" class="w-44 border shadow-lg">
    </div>

    <div class="swiper-slide"><img src="{%static 'imgs/partners/easypaisa.jpg'%}" alt="" class="w-44 border shadow-lg">
    </div>

    <div class="swiper-slide"><img src="{%static 'imgs/partners/hbl.jpg'%}" alt="" class="w-44 border shadow-lg">
    </div>

    <div class="swiper-slide"><img src="{%static 'imgs/partners/jazzcash.jpg'%}" alt="" class="w-44 border shadow-lg">
    </div>

    <div class="swiper-slide"><img src="{%static 'imgs/partners/logo-surmawala.png'%}" alt=""
        class="w-44 border shadow-lg"></div>

    <div class="swiper-slide"><img src="{%static 'imgs/partners/maryam.jpg'%}" alt="" class="w-44 border shadow-lg">
    </div>

    <div class="swiper-slide"><img src="{%static 'imgs/partners/mhb.jpg'%}" alt="" class="w-44 border shadow-lg">
    </div>


  </div>



</div>


<!-- Modal toggle -->
<!-- Main modal -->
<div id="default-modal" tabindex="-1" aria-hidden="true"
  class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative p-4 w-full max-w-2xl max-h-full">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <!-- Modal header -->
      <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
        <h3 class="text-xl font-semibold text-gray-900 dark:text-white" id="modalHeading">
        </h3>
        <button type="button"
          class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
          data-modal-hide="default-modal">
          <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <h3 class="text-xl font-semibold text-gray-900 dark:text-white text-center" id="modalSubject">
      </h3>
      <div class="p-4 md:p-5 space-y-4" id="modalContent">

      </div>

    </div>
  </div>
</div>








{%endblock%}
